<%- include('partials/header') %>

<main>
<section id="main-section">
  <div class="section-header">
    <h2>Lista Ocorrências</h2>
    <div class="section-header-links">
      <span class="material-symbols-outlined filtro_icon" title="Filtros">filter_alt</span>
      <button class="btn btn-success relatorio_btn" type="button" name="button">Relatório</button>
      <button class="btn btn-primary" type="button" name="button">Nova Ocorrência</button>
    </div>

  </div>
  <div class="section-body">
    <table class="ocorrencias_table_title">
      <thead>
        <tr>
          <th class="th_numero">Ocorrência Nº</th>
          <th class="th_descricao">Descrição</th>
          <th class="th_data">Data</th>
          <th class="th_erroVersao">Versão Erro</th>
          <th class="th_solucaoVersao">Versão Solução</th>
          <th class="th_baseTeste">Base Testada</th>
        </tr>
      </thead>
      <tbody class="ocorrencias_table_body">
        <tr>
          <td>000001</td>
          <td>erro ao gerar sped</td>
          <td>27/05/2020</td>
          <td>1d897</td>
          <td>1c123</td>
          <td>2d456</td>
        </tr>
        <tr>
          <td>teste</td>
          <td>teste</td>
          <td>teste</td>
          <td>teste</td>
          <td>teste</td>
          <td>teste</td>
        </tr>
      </tbody>




    </table>

  </div>












</section>







</main>




<%- include('partials/footer') %>
