<%- include('partials/header') %>

<main>
<section id="main-section">
  <div class="section-header">
    <h2>Nova Ocorrência</h2>
    <div class="section-header-links">
      <a class="aTag" href="home">
      <button class="btn btn-primary" type="button" name="button">Voltar</button>
      </a>
    </div>

  </div>
  <div class="section-body">
   <div class="divDoForm">
    <form id="cadastroForm" action="/ocorrencia" method="post">
      <div class="cadastroDiv1">
        <div class="divOcorrencia_cadastro">
            <label>Nº Ocorrência</label>
            <input type="number" name="nOcorrencia">
        </div>
        <div class="divModulo">
         <label>Módulo</label>
         <input type="text" name="modulo">
        </div>
        <div class="divData_cadastro">
         <label>Data</label>
         <input type="date" name="dataOcorrencia" value="<%= data %>">
        </div>
        <div class="divVersao">
         <label>Versão</label>
         <input type="text" name="versaoErro">
        </div>
      </div>
      <div class="cadastroDiv2">
        <label>Cliente</label>
        <input type="text" name="clienteOcorrencia">
        <label for="">Descrição</label>
        <textarea name="descricaoOcorrencia" rows="8" cols="60"></textarea>
      </div>
      <div class="cadastroDiv3">
        <label>Status: </label>
        <select class="statusDaOcorrencia" name="statusOcorrencia">
          <option value="correcao">Correção</option>
          <option value="implementacao">Implementação</option>
          <option value="melhoria">Melhoria</option>
          <option value="duvida">Dúvida</option>
        </select>
      </div>
    </form>
   </div>
  </div>
  <div class="botoesCadastrar">
    <button type="button" class="btn btn-danger" name="button">CANCELAR</button>
    <button type="submit" class="btn btn-dark" name="button" form="cadastroForm">INCLUIR</button>
  </div>


</section>
</main>




<%- include('partials/footer') %>
