<%- include('partials/header') %>

<main>
<section id="main-section">
  <div class="section-header">
    <h2>Relatório</h2>
    <div class="section-header-links">
      <a class="aTag" href="javascript:history.back()">
        <button class="btn btn-success" type="button" name="button">Voltar</button>
      </a>
    </div>
  </div>
  <div class="section-body">
    <div class="relatorio" id="filtrosRelatorio">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">


          </div>
          <p class="alerta"></p>
          <div class="modal-footer">

            
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
</main>








<%- include('partials/footer') %>
